* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body{
    background-image: url('./img/backgroundimg.png');
}

#banner{
    display: flex;
    flex-direction: row;
    background-color: white;
}

#logo{
    width: 10%;
    
}

h2{
    font-size: 2em;
    margin-top: 3.5%;
    text-align: end;
    font-family: "Noto Sans", sans-serif;
    color: hsl(39, 100%, 50%); 
    margin-right: 40%; 
    
}

nav{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
   
}
a{
    font-size: 2em;
    margin-top: 3.5%;
    margin-left: 20%;
    text-align: end;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    color: black;
    
}

#main{
    background-color: blue;
}

#homepic{
    width: 30%;
    margin-left: 35%;
}

h1{
    font-size: 4em;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    color: hsl(39, 100%, 50%); 
    margin-bottom: 2%;
  
}



